@import '../../../styles/settings.scss';

.component {
  padding: $base-size;
}

.header { 
  height: $base-size * 2;
  display: flex;
  align-items: center;
}

.link { 
  color: white;
}

.row {
  cursor: pointer;
}

.ready { 
  background: lightyellow;
}

.table { 
  border: 1px solid lightgray;
  border-radius: 2px;
}